// Variables OneTech
$onetech-blue: #0074B5;
$onetech-dark-blue: #00538C;
$onetech-light-blue: #E3F1F9;
$onetech-orange: #FF6D0A;
$onetech-gray: #565656;
$onetech-light-gray: #F2F2F2;
$onetech-white: #FFFFFF;

:root {
  --onetech-blue: #{$onetech-blue};
  --onetech-dark-blue: #{$onetech-dark-blue};
  --onetech-light-blue: #{$onetech-light-blue};
  --onetech-orange: #{$onetech-orange};
  --onetech-gray: #{$onetech-gray};
  --onetech-light-gray: #{$onetech-light-gray};
  --onetech-white: #{$onetech-white};
}   